@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300&display=swap");
.sliders {
  background-color: white;
  height: 380px;
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: rgb(255, 255, 255);
  align-items: center;
  justify-content: flex-end;
  margin: 20px;
  padding: 20px;
  padding-top: 40px;
  min-width: 100px;
  z-index: 3;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
}

.sliders_slider {
  width: 100%;
  position: absolute;
  bottom: 0%;
}

input[type="range"] {
  -webkit-appearance: none;
  margin: 10px 0;
  width: 100%;
}
input[type="range"]:focus {
  outline: none;
}
input[type="range"]::-webkit-slider-runnable-track {
  width: 100%;
  height: 24px;
  cursor: pointer;

  box-shadow: 1px 1px 1px white;
  background: #ffffff;
  border-radius: 0px;
  border: 1px solid white;
}
input[type="range"]::-webkit-slider-thumb {
  box-shadow: 1px 1px 1px white;
  border: 1px solid white;
  height: 12px;
  width: 500px;
  border-radius: 10px;
  background: #a0a0a0;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -0.5px;
}

.image {
  height: 300px;
  width: 175px;
  margin-left: 15px;
  margin-right: 15px;
}

html {
  overflow-x: hidden;
}
.image_container {
  position: sticky;
  display: flex;
  font-size: 80px;
  z-index: -3;
}
.sliders_title {
  margin-top: -370px;
  left: 20px;
  position: absolute;
  font-family: "Noto Sans JP", sans-serif;
  color: rgb(85, 85, 85);
  font-size: 30px;
  padding: 10px;
}
